In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
r = requests.get('https://pl.wikipedia.org/wiki/Lista_pa%C5%84stw_%C5%9Bwiata_wed%C5%82ug_PKB_nominalnego')
soup = BeautifulSoup(r.content, 'html.parser')
souptable = soup.find('table', class_="wikitable collapsible collapsed sortable")
no_rows = souptable.find_all('tr')

In [3]:
len(no_rows)

198

In [4]:
result = []

for row in no_rows:
    data = row.find_all('td')
    #check if it's any value
    if len(data) == 0:
        continue
    pozycja = data[0].getText()
    panstwo = data[1].getText()
    y_1980 = data[2].getText()
    y_1990 = data[3].getText()
    y_2000 = data[4].getText()
    y_2010 = data[5].getText()
    y_2018 = data[6].getText().rstrip()
    
    result.append([pozycja, panstwo, y_1980, y_1990, y_2000, y_2010, y_2018])

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(result, columns =['Pozycja', 'Państwo', '1980 r.', '1990 r.', '2000 r.', '2010 r.', '2018 r.'])
df

,Pozycja,Państwo,1980 r.,1990 r.,2000 r.,2010 r.,2018 r.
0,—,Świat,11 156 371,23 521 312,33 858 446,66 073 382,84 929 508
1,1,Stany Zjednoczone,2 857 325,5 963 125,10 252 350,14 992 050,20 580 250
2,—,Unia Europejska,3 805 474,7 394 549,8 918 864,17 020 091,18 736 855
3,—,Strefa euro,b.d.,b.d.,6 489 281,12 653 244,13 639 082
4,2,Chiny,305 348,398 623,1 214 915,6 066 351,13 368 073
...,...,...,...,...,...,...,...
192,187,Wyspy Marshalla,b.d.,b.d.,112,168,214
193,188,Kiribati,42,43,68,157,189
194,189,Nauru,b.d.,b.d.,b.d.,47,112
195,190,Tuvalu,b.d.,b.d.,14,32,42
196,191,Syria,12 980,12 303,19 861,60 043[5],b.d.

In [11]:
df.to_csv("PKB_data.csv")

In [12]:
df.to_excel("PKB_data.xlsx")